html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.mapboxgl-canvas {
  position: relative;
  left: 0;
  top: 0;
}

#options{
  position: fixed;
  bottom: 1.5em;
  right: 0.5em;
}